body {
	font: .8em Verdana, Arial, Helvetica;
	margin: 0;
	padding: 0;
	/*counter-reset: page_number;*/
}

@page  
{ 
    size: auto;   /* auto is the initial value */ 

    /* this affects the margin in the printer settings */ 
    margin: 2mm 2mm 2mm 2mm;  
}


.invoice {
	/*min-width: 960px;*/
	padding: 0 2em;
	font-size: .7em;
}
.header {
	margin: 10px 0;
	display: block;
	top: 0;
	right: 0;
	height: 78px;
	position: relative;
}
.header .logo {
	height: 60px;
	width: 30%;
	background: url(../logo.png) no-repeat;
	background-size: contain;
	position: relative;
	margin: 10px 0 0;
}
.header .column {
	float: left;
}
.header .address { 
	margin: 1px 0 0 2%;
}
.header .address p, .header .invoice-info p {
	margin: 2px 0;
	padding: 0;
	font-size: 1em;
}

.header span.label {
	font-weight: bold;
}

.header .invoice-info {
	position: absolute;
	right: 0;
	margin: 8px 10px;
}
/*
p.page span.value:after {
	counter-increment: page_number;
    content: counter(page_number);
}*/
.cust-address {
	width: 50%;
	float: left;
}
.cust-address span.label {
	display: block;
	/*float: left;*/
	margin: 0 13px 5px 0;
	background: #000;
	color: #fff;
	padding: 4px 11px;
	text-transform: uppercase;
}

.cust-address span.value {
	display: inline-block;
}

.shipping-address span.label {
	margin-right: 0;
}

.products table, .line-items table {
	width: 100%;
	font-size: 1em;
}
.category-wrap {
	background: #000;
	float: left;
	width: 100%;
	padding: 6px;
	color: #fff;
	margin: 10px 0;
	box-sizing: border-box;
	font-weight: bold;
	text-transform: uppercase;
	outline: thin solid black;
}

table tr {
	outline: thin solid black;
}

table tr td, table tr th {
	border-right: 1px solid #000;
}

table tr td:last-child, table tr th:last-child, table td.no-border {
	border: none;
}

table.line-item-table {
	width: 100%;
}

table.line-item-table tr td {
	font-weight: bold;
}

table.line-item-table tr td.li-amount {
	text-align: right;
}

.line-items {
	margin: 15px 0;
}

.payment-details table {
	width: 100%;
	margin: 0 0 15px;
}
